@page
@model DotaWordle.Pages.Guess

<div class="search-container dp">
    <input type="text" class="form-control" placeholder="Введите имя героя ..." id="search-input">
    <div class="results" id="results">
        @foreach (var hero in Model.Heroes)
        {
            <div class="result-item" data-id="@hero.Id">
                <img src="Images/Attributes/@(hero.PrimaryAttributeName).png" alt="@hero.PrimaryAttributeName)"
                     style="width: 30px; height: 30px;"/>
                <img src="Images/Heroes/@(hero.Name).png" alt="@hero.Name">
                <span>@hero.Name</span>
            </div>
        }
    </div>
</div>

<div class="cards-container">
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Поздравляем!</h5>
            </div>
            <div class="modal-body">
                <p>Вы угадали героя!</p>
                <p>Количество попыток: <span class="clicks-count"></span></p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page-handler="RestartGame">
                    <button class="btn btn-primary" data-dismiss="modal">Играть снова</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="JavaScript/Searchbar.js"></script>