@page
@model DotaWordle.Pages.Guess

<div class="search-container dp">
    <input type="text" class="form-control" placeholder="Введите имя героя ..." id="search-input">
    <div class="results" id="results">
        @foreach (var hero in Model.Heroes)
        {
            <div class="result-item" data-id="@hero.Id">
                <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/@(hero.Name.Replace(" ", "_").ToLower()).png" alt="hero.Name">
                <span>@hero.Name</span>
            </div>
        }
    </div>
</div>

<div class="cards-container">
</div>

@Html.AntiForgeryToken()

<script src="JavaScript/Searchbar.js"></script>