@page
@model DotaWordle.Pages.Index


<header class="d-flex justify-content-center py-3 shadow-lg">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">Главная</a>
        </li>
    </ul>
</header>
<div class="px-4 py-5 my-5 text-center md-3">
    <h1 class="display-5 fw-bold text-body-emphasis">Dota guess</h1>
    <div class="col-lg-6 mx-auto mb-5">
        <p class="lead mb-4">Попробуй угадать героя...)</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Начать</button>
        </div>
    </div>
    <div class="text-center bg-dark-subtle mx-auto py-3 px-5 rounded-3" style="width: 35vw">
        <h2 class="mb-4">Отображаемая информация</h2>
        <div class="d-flex align-content-between justify-content-evenly flex-wrap">
            @{
                for (int i = 0; i < 5; i++)
                {
                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                }
            }
            @{
                for (int i = 0; i < 5; i++)
                {
                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                }
            }
        </div>
    </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-body">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
</footer>